html(lang="it")
    head
        title Distinta #{codePdf}
        style(type="text/css").
            @page {
                margin: 10mm 15mm 15mm;
                size: A4;
            }
            body {
                font-family: Calibri, serif;
                -webkit-print-color-adjust: exact;
            }
            p {
                font-size: 14px;
            }
            span {
                font-size: 14px;
                float: right;
            }
            img {
                width: 200px;
                float: left;
                margin-right: 20px;
            }
            .logo-poste {
                width: 150px;
                float: right;
            }
            .header {}
            .sender {
                font-size: 14px;
                padding-bottom: 20px;
            }
            .invoice-info {
                padding: 15px 0 15px 0;
                font-size: 18px;
                border-top: 1px solid #8A8A8A;
                border-bottom: 1px solid #8A8A8A;
                margin-bottom: 40px;
            }
            .recipients-table {
                margin-top: 20px;
                font-size: 14px;
            }
            table {
                border-collapse: collapse;
            }
            td {
                text-align: left;
                padding: 5px 5px 5px 0;
                border-bottom: 1px dashed #8A8A8A;
            }
            th {
                text-align: left;
                border-bottom: 2px solid black;
            }
            tr:nth-child(even) { background: rgb(237, 241, 245) }
            td:last-child { text-align: right }
            .brand-text {
                font-size: 10px;
            }
    body
        div(class="header")
            img(src=`${process.env.SERVER_HOST || "http://localhost"}:${process.env.SERVER_PORT || "5000"}${process.env.IMAGES_PATH || "/images"}/logo.png`)
            p(class="brand-text") General Services soc. coop. cons. a r.l.
                br
                | Via Metastasio, 2 - 70033 Corato (BA)
                br
                | www.gserviceitalia.it - info@gserviceitalia.it
                br
                | AGENZIA DI RECAPITO AUTORIZZATA: OMF-18/3514
            // img(class="logo-poste" src=`${process.env.SERVER_HOST || "http://localhost"}:${process.env.SERVER_PORT || "5000"}${process.env.IMAGES_PATH || "/images"}/poste-italiane.svg`)
        br
        h2 Spett.
        p(class="sender") #{sender.name.toUpperCase() || "-"}
            br
            | #{sender.address.street.toUpperCase() || "-"}
            br
            | #{sender.address.zip} #{sender.address.city.toUpperCase()} (#{sender.address.province.toUpperCase()})
        p(class="invoice-info") Distinta #{partial ? "parziale" : ""} #{codePdf} #{dateSent ? `del ${dateSent}` : ""}
        table(class="recipients-table")
            thead
                th #
                th Data
                th Destinatario
                th CAP
                th Città
                th Prov.
                if kind !== "LETTERA SEMPLICE"
                    th Tracking
                th Impon.
            tbody
                each recipient, index in (posteway.recipients)
                    tr
                        td(width="5%") #{index + 1}
                        if kind !== "LETTERA SEMPLICE"
                            td(width="12.5%") #{posteway.track.tracking[index].date || "-"}
                        if kind === "LETTERA SEMPLICE"
                            td(width="12.5%") #{dateSent || "-"}
                        td(width="40%") #{recipient.person.name.toUpperCase() + " " + recipient.person.surname.toUpperCase()}
                            br
                            | #{recipient.person.address.street || "-"}
                        td(width=`${kind !== "LETTERA SEMPLICE" ? "8.5%" : "10.625%"}`) #{recipient.person.address.zip || "-"}
                        td(width=`${kind !== "LETTERA SEMPLICE" ? "8.5%" : "10.625%"}`) #{recipient.person.address.city.toUpperCase() || "-"}
                        td(width=`${kind !== "LETTERA SEMPLICE" ? "8.5%" : "10.625%"}`) #{recipient.person.address.province.toUpperCase() || "-"}
                        if kind !== "LETTERA SEMPLICE"
                            td(width="8.5%") #{posteway.track.tracking[index].number || "-"}
                        td(width=`${kind !== "LETTERA SEMPLICE" ? "8.5%" : "10.625%"}`) #{price || "-"}
        p
            | Tot. Prodotti:
            b  #{posteway.recipients ? posteway.recipients.length : 0}
            |
            span Totale Distinta:
                |
                b  #{total}
