html(lang="it")
    head
        title Fattura nr. #{number}
        style(type="text/css").
            @page {
                margin: 10mm 15mm 15mm;
                size: A4;
            }
            body {
                font-family: Calibri, serif;
                -webkit-print-color-adjust: exact;
            }
            p {
                font-size: 14px;
            }
            span {
                font-size: 14px;
            }
            img {
                width: 150px;
                float: left;
                margin-right: 20px;
            }
            .header {}
            .sender {
                font-size: 14px;
                padding-bottom: 20px;
            }
            .invoice-info {
                padding: 15px 0 15px 0;
                font-size: 18px;
                border-top: 1px solid #8A8A8A;
                border-bottom: 1px solid #8A8A8A;
                margin-bottom: 40px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 14px;
            }
            td {
                text-align: left;
                padding: 5px 5px 5px 0;
                border-bottom: 1px dashed #8A8A8A;
            }
            th {
                text-align: left;
                border-bottom: 2px solid black;
            }
            tr:nth-child(even) { background: rgb(237, 241, 245) }
            td:last-child { text-align: right }
            .brand-text {
                font-size: 10px;
            }
            .float-right { float: right; }
    body
        div(class="header")
            img(src=`${process.env.SERVER_HOST || "http://localhost"}${process.env.NODE_ENV !== "production" ? `:${process.env.SERVER_PORT || "5000"}` : ""}${process.env.IMAGES_PATH || "/images"}/logo.png`)
            p(class="brand-text") Solutions Srl
                br
                | Strada Esterna Matababbo s.n. 70033 Corato (BA)
                br
                | solutionscorato@pec.it | Codice univoco: M5UXCR1
                br
                | P.iva 08886590721 | AGENZIA DI RECAPITO AUTORIZZATA: OMF-18/3514
            // img(class="logo-poste" src=`${process.env.SERVER_HOST || "http://localhost"}:${process.env.SERVER_PORT || "5000"}${process.env.IMAGES_PATH || "/images"}/poste-italiane.svg`)
        br
        h2 Spett.
        p(class="sender") #{sender.businessName ? sender.businessName.toUpperCase() : (sender.name ? sender.name.toUpperCase() : "-")}
            - const senderAddress = sender.addressBill || sender.address;
            br
            | #{senderAddress.street.toUpperCase() || "-"}
            br
            | #{senderAddress.zip} #{senderAddress.city.toUpperCase()} (#{senderAddress.province.toUpperCase()})
            if sender.iva
                br
                | P.IVA #{sender.iva}
            if sender.cf
                br
                | CF #{sender.cf}
        p(class="invoice-info") Fattura nr. #{number} del #{createdAt}
        table
            thead
                th #
                th Servizio
                th Descrizione
                th Quantità
                th Costo
                th Imponibile
            tbody
                each service, index in services
                    tr
                        td(width="5%") #{index + 1}
                        td(width="30%") #{service.name} del #{service.date} - DISTINTA #{service.code}
                        td(width="30%") #{service.description}
                        td(width="10%") #{service.quantity}
                        td(width="10%") #{service.priceSingle}
                        td(width="5%") #{service.total}
        if smsPrice !== '€ 0,00'
            span(class="float-right") Imponibile SMS:
                |
                b  #{smsPrice}
            br
        span(class="float-right") Imponibile Totale:
            |
            b  #{taxable}
        br
        span(class="float-right") IVA (22%):
            |
            b  #{iva}
        br
        span(class="float-right") Totale:
            |
            b  #{total}
        br
        br
        span(class="float-right") IBAN:
            |
            b  IT44Z0306941473100000015095
        br
        span(class="float-right") Intestato a:
            |
            b  Solutions Srl
